.other-msgBox{
			text-align: center;
			font-size: 20px;
			height : 100px;
			width : 60%;
			background-color: #8888FF;
			margin: 5px;
			border: 2px solid #888888;
			word-wrap: break-word;
		}
		.my-msgBox{
			float:right;
			text-align: center;
			font-size: 20px;
			height : 100px;
			width : 60%;
			background-color: #FFFF88;
			margin: 5px;
			border: 2px solid #888888;
			word-wrap: break-word;

			position: absolute;
			right:0;
		}
		.system-msgBox{
			text-align: center;
			font-size: 20px;
			height : 100px;
			width : 60%;
			background-color: #88FF88;
			margin: 5px;
			border: 2px solid #888888;
			margin: auto;
		}